body{
    font-family: "Winky Sans", sans-serif;
    color: rgb(46, 20, 0);
}

i{
    font-size: 30px;
}

img{
    width: 100%;
}

p{
    text-align: justify;
}

section{
    padding-top: 30px;
}

.padding-section{
    padding-top: 60px;
    padding-bottom: 150px;
}